<body>
    <div class="container">
        <div class="signinform row" id="signinform-top">
            <!-- Beginrow -->
            <div class="signincol col-sm-6">
                <!-- Begin signin form -->
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <h1 class="signin">Sign in
                        </hi>
                    </li>

                    <%= form_tag sessions_path do %>
                    <li class="list-group-item">
                        <%= label_tag :email %>
                        <br>
                        <%= text_field_tag :email %>
                    </li>
                    <li class="list-group-item">
                        <%= label_tag :password %>
                        <br>
                        <%= password_field_tag :password %>
                    </li>
                    <li class="list-group-item actions">
                        <%= submit_tag("Log In", :class => "login-submit-button" ) %>
                        <p class="oppositekindlink"> Not a member? Sign up as a <%= link_to "Brand", :controller => "users", :action => "new", :kind => "Brand" %>  or an <%= link_to "Ambassador", :controller => "users", :action => "new", :kind => "Ambassador" %>  </p>
                    </li>
                    <% end %>
                </ul>
            </div>
            <!-- End form -->
            <div class="signincol col-sm-6">
                <!-- signin info -->
                <%= image_tag "login-collage.jpg", id: "login-top-image" %>
            </div>
            <!-- end info-->
        </div>
        <!-- end row -->
    </div>
    <!--end container
</body>
