<!-- this form is to sign up new Brands  -->

<%= form_for(user) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :company_name %>
    <%= f.text_field :first_name %>
  </div>


  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="field">
    <%= f.label :category %>
      <%= f.select :category, %w(Art Adventure Beauty Blogger Business Comedy Dads DIY Entrepreneur Fashion Family Fitness Foodie Gaming Home Kids Lifestyle Modeling Moms Motivation Movies Music Outdoor Pets Photography Politics Sports Technology Travel Wedding)%>
  </div>

    <%= f.hidden_field(:kind, :value => params[:kind])%>
        <%= f.hidden_field(:age, :value => "X")%>
    <%= f.hidden_field(:gender, :value => "X")%>

  <div class="actions">
    <%= f.submit %>
  </div>
   <p> Want to sign up as an <%= link_to "Ambassador? Click here", :controller => "users", :action => "new", :kind => "Ambassador" %></p>
<% end %>