<!-- this form is to sign up new Ambassadors  -->
<div class="container">
  <div class="signupform row"> <!-- Beginrow -->
    <div class="signupcol col-sm-6"> <!-- Begin signup form -->
      <% if params[:kind] != nil %>
      <% session[:kind] = params[:kind] %>
      <%end%>
      <%= form_for(user) do |f| %>
      <% if user.errors.any? %>
      <div id="error_explanation">
        <h2 class="errors"><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

        <ul>
          <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
        </ul>
      </div>
      <% end %>
      <h1 class="signup">
        <% if params[:kind] != nil %>
          <% session[:kind] = params[:kind] %>
        <%end%>
          <%= session[:kind] %> Sign Up</h1>
        <div class="field">
          <%= f.text_field :first_name, placeholder: "Name" %>
        </div>

        <div class="field">
          <%= f.text_field :email, placeholder: "E-mail Address"%>
        </div>

        <div class="field">
          <%= f.password_field :password, placeholder: "Password" %>
        </div>

        <div class="field">
          <%= f.password_field :password_confirmation, placeholder: "Re-type password" %>
        </div>
        <div class="formbundler">
         <div class="field">

          <%= f.label :age  %> <br>
          <%= f.select :age, %w(Under\ 25 26-35 36-45 46-55 55+)%>
        </div>
        <div class="field">
          <%= f.label :category %> <br>
          <%= f.select :category, %w(Art Adventure Beauty Fashion Fishing Fitness Foodie Gaming Music Outdoor Pets Sports Technology Travel Wedding)%>
        </div>


        <div class="field">

          <%= f.label :gender %> <br>
          <%= f.select :gender, %w(M F)%>
        </div>

      </div>
      <%= f.hidden_field(:kind, :value => session[:kind])%>
      <div class="formbundler">
        <div class="actions">
          <%= f.submit "Sign up!", id: "ambinput", class: "login-submit-button"%>
        </div>
        <p class="oppositekindlink"> <%= link_to "Click here for Brand account.", :controller => "users", :action => "new", :kind => "Brand" %>  </p></div>
        <% end %>
      </div> <!-- End sign up form -->


      <div class="signupcol col-sm-6"> <!-- signup info -->
        <%= image_tag "multi-user.png", id: "multiuser" %>
        <p class="signupinfo"> Create an account. Get noticed. Profit. <u>BrandME</u> gives you all tools to get noticed by the right brands. </p>
      </div>
    </div> <!-- end row -->
  </div>
