 <p> <strong>
  <%= @user.first_name %> - <%= @user.category %>
</strong>
</p>

<p>
  <%= mail_to(@user.email, name = nil) %>
</p>

	<p> <%= image_tag @user.avatar.url(:medium) %> </p>
<p>
  <%= @user.summary %>
</p>