  <div class="container">
    <div class="searchrow row">
      <div class="col-xs-12 col-md-3">
        <%= form_tag('/users/search', method: "post") do %>
          <div class="searchform">
            <p>Search</p>
            <div class="field">
              <strong> Category: </strong>
              <%= select_tag :category, options_from_collection_for_select(User.categories, :to_s, :to_s) %>
            </div>
            <div class="field">
              <strong> Gender: </strong>
              <%= select_tag :gender, options_from_collection_for_select(User.genders, :to_s, :to_s)%>
            </div>
            <div class="field">
              <strong> Age: </strong>
              <%= select_tag :age, options_from_collection_for_select(User.ages, :to_s, :to_s)%>
            </div>
            <div class="field">
            <%= submit_tag("Find Talent", id: "btn") %>
            </div>
          </div>
        <% end %>
      </div><!--END col-xs-12 col-md-3-->

      <div class="col-xs-12 col-md-9">
        <div class="resultsrow row">
        <% if !@users.empty? %>
          <% @users.each do |user| %>
            <% if user.twitter_datum.first %>
              <div class="imgdiv col-xs-12 col-sm-2">
              <% if user.twitter_datum.first.url %>
               <%= link_to image_tag(user.twitter_datum.first.url, class: "searchicon"), user %>
               <% end %>
              </div>

              
              <%= div_for(user, class: "searchresults col-xs-12 col-sm-5") do %>
                <p id="searchresname"> <%= user.first_name %> <%= user.last_name %> - <%= link_to 'View', user%> </p>
                <p> <%= user.category %> - <%= user.gender%> - <%= user.age %> years old </p>
                <p> <span id="searchresbold">  Bio: </span> <%= user.summary %></p>
              <% end %>
            
              <%= div_for(user, class: "tweetresults col-xs-12 col-sm-5") do %>
                <% user.twitter_datum.each do |twitstat| %>
                  <p> <span id="searchresbold"> Social Stats: </span> </p>
                  <p>@<%= twitstat.screen_name %> </p>
                  <p> <%= twitstat.followers_count %> Followers </p>
                  <p> <%= twitstat.statuses_count %> Tweets </p>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
          <% else %>
          <p id="searchdefaultmessage"> Search results will return here </p>
          <%end%>
        </div>
      </div><!--END col-xs-12 col-md-9-->
    </div>
  </div><!--END CONTAINER-->
