<p> <% if params[:notice] %>
    <%= params[:notice] %>
    <% end %> </p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Category:</strong>
  <%= @user.category %>
</p>

<p>
  <strong>Kind:</strong>
  <%= @user.kind %>
</p>



<% if @user.kind == "Ambassador" && @user.twitter_datum.first == nil  %>
<p> It looks like you haven't added your twitter profile. Please enter your twitter handle below!<p> 
<%= form_tag('/users/:user_id/twitter_datum', method: "post") do %>
  <%= label_tag(:q, "Please enter your twitter handle") %>
  <%= text_field_tag(:q) %>
   <%= hidden_field_tag(:user_id, current_user.id) %>
  <%= submit_tag("Search", id: "btn") %>
<% end %>
<% else %>
<% @user.twitter_datum.each do |twit| %>
<p> Twitter handle: <%= twit.screen_name %> </p>
<p> Followers: <%= twit.followers_count %> </p>
<p> Statuses: <%= twit.statuses_count %> </p>
<% end %>
<% end %>
