<p> <% if params[:notice] %>
    <%= params[:notice] %>
    <% end %> </p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Category:</strong>
  <%= @user.category %>
</p>

<p>
  <strong>Kind:</strong>
  <%= @user.kind %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @user.summary %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>