<h1>TwitterDatum#new</h1>
<p id="quest">Find me in app/views/twitter_datum/new.html.erb</p>

<%= form_tag("/users/:user_id/twitter_datum/new", method: "get") do %>
  <%= label_tag(:q, "Please enter your twitter handle") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search", id: "btn") %>
<% end %>

<% if params[:q] != nil %>
<%= @rando %>
<% end %>